:root {
  --neon: rgba(146,204,206,255);
  --gray: rgba(49,52,61,255);
  --blue: rgba(68,88,119,255);
  --bg: rgba(238,238,247,255);
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* Element Selectors */
body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

p {
font-size: 110%;
padding-left: 20px;
}

header {
  display: flex;
  background-color: var(--gray);
  color: var(--neon);
  justify-content: space-between;
  align-items: center;
  padding: 1% 5% 1% 0;
}

header, figure {
max-width: 100%;
height: auto;
}

h1 {
  background-color: var(--neon);
  color: var(--gray);
  font-size: 450%;
  font-weight: bold;
  padding-left: 5%;
}

nav ul {
list-style-type: none;
display: flex;
align-items: flex-end;
justify-content: space-between;
width: 450px;
}

nav a {
color: var(--neon);
font-weight: bolder;
border-bottom: solid;
padding: 5px 5px;
font-size: 150%;
}

nav a:hover {
color: #fff;
}

a {
text-decoration: none;
}

figure {
position: relative;
}

figcaption {
color: var(--gray);
font-size: 150%;
font-weight: bold;
position: absolute;
bottom: 15px;
right: 55px;
background-color: var(--neon);
}

main {
display: flex;
flex-direction: column;
padding: 4% 10%;
}

section {
display: flex;
flex-direction: row;
padding: 4%;
}

h2 {
color: var(--blue);
font-size: 355%;
border-right: solid;
min-width: 210px;
max-width: 210px;
text-align: right;
}

h3 {
font-size: 150%
}

/* Class  Selectors*/
.work, .refactor {
position: relative;
}

.work-div {
display:flex;
flex-wrap: wrap;
padding-left: 20px;
justify-content: space-around;
}

.work img:hover, .refactor img:hover {
opacity: 1;
}

.refactor img {
width: 700px;
height: 220px;
opacity: 0.5;
}

.refactor div {
position: absolute;
background-color: var(--neon);
color: var(--blue);
bottom: 70px;
padding: 1%;
width: 170px;
height: 50px;
}

.work img {
width: 350px;
height: 110px;
opacity: 0.5;
padding-top: 20px;
}

.work div {
position: relative;
background-color: var(--neon);
color: var(--blue);
bottom: 80px;
padding: 1%;
width: 170px;
height: 50px;
}

#ContactMe ul {
list-style-type: none;
display: flex;
justify-content: space-evenly;
align-items: center;
color: var(--blue);
font-size: 120%;
min-width: 700px;
padding-left: 20px;
}

#ContactMe a {
text-decoration: none;
color: var(--blue);
}

#ContactMe li {
border-bottom: solid;
}

@media screen and (max-width: 768px) {
body {
  width: 768px;
}

nav ul {
  align-items: flex-end;
  flex-direction: column;
  }

nav a {

  border-bottom: none;
  }

main {
  width: 768px;
  padding: 0;
}

section {
  padding: 4% 2%;
}

h2 {
  font-size: 300%;
  min-width: 150px;
  max-width: 150px;
}

.refactor img {
  width: 550px;
}

#ContactMe ul {
  min-width: 550px;
}
}

@media screen and (max-width: 600px) {
body {
  width: 600px;
}

nav ul {
  align-items: flex-end;
  width: 400px;
}

figure {
  width: 600px;
}

main {
  width: 600px;
}

#AboutMe p, #Work .refactor, #ContactMe ul {
  padding-top: 2%;
}

h2{
  border-bottom: solid;
  border-right: none;
  }

section {
  display: flex;
  flex-direction: column;
  padding: 4% 0%;
}
#ContactMe ul {
  min-width: 550px;
}
}

